html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.image {
    display:block;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    overflow: hidden;
    background-size: contain;
}

.titleTFG {
    /*background-image: url(https://e00-marca.uecdn.es/assets/multimedia/imagenes/2022/02/23/16456332566243.jpg);*/
    background-image: url(../images/Panoramica_ETSII.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    /*background-color: burlywood;
    border-style: solid;
    border-radius: 25px;*/
}

.tituloTabla {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.subTitulo {
    font-size: 21px;
    font-weight: 300;
    line-height: 1.5;
    margin-top: 20px;
}

.back_white {
    background-color: white;
    border: 2px solid #000000;
    border-radius: 10px;
    margin-top: 10px;
}

.boton {
    margin: 5px 5px 0px 2px;
    background-color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 25px;
    color: black;
    text-decoration: none;
    /*border-radius: 7px;
    border: 3px solid #000000;*/
}

.boton_tabla {
    margin: 5px 5px 0px 2px;
    background-color: darkgoldenrod;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.Equal {
    background-color: white;
    font-weight: 17px;
}

.Add {
    background-color: greenyellow;
}

.Remove {
    background-color: indianred;
    text-decoration: line-through;
}

.a4_size {
    max-width: 2480px;
    width: 100%;
    overflow: visible;
}

.padding_boton_sm {
    padding: 5px 5px;
    z-index: auto;
}

.line_height {
    line-height: 20px;
}

.margin-top {
    margin-top: 20px;
}

.padding-top {
    padding-top: 20px;
}

.padding-left {
    padding-left: 10px;
}

.border_2px {
    border: 2px solid #000000;
}

.back_blue {
    background-color: darkcyan;
}

.back_ora {
    background-color: lightgrey;
}