@model LeyesTFG.Models.Articulo

@{
    ViewData["Title"] = "Crear";
}

<h1 class="tituloTabla text-center">Crear</h1>

<h4 class="text-center">Artículo</h4>
<hr />
<div class="row">
    <div class="col-md-4 a4_size">
        <form asp-action="Create" onsubmit="handleSubmit()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Texto" class="control-label"></label>
                <input type="hidden" id="jdr" asp-for="@Model.Texto" class="form-control" />
                <div class="bg-white">
                    <div id="editor">
                        <p>Introduzca <strong>aquí</strong> el contenido del artículo</p>
                        <p><br></p>
                    </div>
                </div>
                <span asp-validation-for="Texto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ley" class="control-label"></label>
                <select asp-for="LeyId" class="form-control" asp-items="ViewBag.LeyId">
                    <option value="">Selecciona la ley del artículo</option>
                </select>
                <span asp-validation-for="LeyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="boton_tabla" type="submit" value="Crear" />
                | <a class="boton_tabla padding_boton_sm bg-danger" asp-action="Index">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
