@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>A continuación puede añadir o pedir cambios a la base de datos de los artículos de la ley</p>
</div>
<div class="row">
    <div class="col-md-10">
        <p>Añadir artículo</p>
        <p></p>
    </div>
    <div class="col-md-10">
        <p>Propuestas de modificaciones</p>
        <p></p>
    </div>
</div>
