@model LeyesTFG.Models.Modificacion

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear</h1>

<h4>Modificacion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" onsubmit="handleSubmit()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Texto" class="control-label"></label>
                <input type="hidden" id="jdr" asp-for="@Model.Texto" class="form-control" />
                <div id="editor">
                    <p>Introduzca <strong>aquí</strong> el contenido del artículo</p>
                    <p><br></p>
                </div>
                <span asp-validation-for="Texto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Articulo" class="control-label"></label>
                <select asp-for="ArticuloId" class="form-control" asp-items="ViewBag.ArticuloId">
                    <option value="">Selecciona el articulo que va a modificar</option>
                </select>
                <span asp-validation-for="ArticuloId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
