@model LeyesTFG.Models.Modificacion

@{
    ViewData["Title"] = "Editar";
}

<h1 class="tituloTabla text-center">Editar</h1>

<h4 class="text-center">Modificación</h4>
<hr />
<div class="row">
    <div class="col-md-4 a4_size">
        <form asp-action="Edit" onsubmit="handleSubmit()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ModificacionId" />
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Texto" class="control-label"></label>
                <input type="hidden" id="jdr" asp-for="@Model.Texto" class="form-control" />
                <div class="bg-white">
                    <div id="editor">
                        @Html.Raw(@Model.Texto)
                    </div>
                </div>
                <span asp-validation-for="Texto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="@Model.ArticuloId" class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Aceptado" class="form-check-input" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="PendienteEva" class="form-check-input" />
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="boton_tabla" />
                | <a class="boton_tabla padding_boton_sm bg-danger" asp-action="Index">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
